# WEB SCRAPING ASSIGNMENT - 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [2]:
# importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

In [ ]:
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [3]:
#entering the required details in search certeria
search_job = driver.find_element_by_xpath("//div[@class = 'inpWrap']/input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//div[@class = 'inpWrap']/input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")
search_btn = driver.find_element_by_xpath("//div[@class = 'search-btn']//button[@class = 'btn']")
search_btn.click()

In [4]:
job_title = []# name of the job
company_name = []# name of the company
exp = []# experience as per post
salary = []# salary as per advert
loc = []#Location as per advert

time.sleep(5) #am setting time as 5 since it takes more time to load the page

#sorting the required information and storing in the list.
for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'subTitle ellipsis fleft']")[:10]:
    company_name.append(i.text)
    
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi location']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    loc.append(i.text)        
    
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    exp.append(i.text)
        
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi salary']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    salary.append(i.text)
    
driver.quit()#exiting the driver post scraping the information

#storing the data in a DataFrame.
Data_Analyst_jobs_Banglore = pd.DataFrame({ "EXEPERIENCE": exp, "JOB" : job_title ,"COMPANY": company_name ,
                                           "SALARY" : salary,"LOCATION" :loc})
                                           
Data_Analyst_jobs_Banglore.sort_values(by = ["EXEPERIENCE"])

,EXEPERIENCE,JOB,COMPANY,SALARY,LOCATION
2,1-2 Yrs,Market Unit - Data Business Analyst (11),Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
0,2-5 Yrs,Data Analyst Analyzing,Cistup Indian Institute of Science,Not disclosed,Bangalore/Bengaluru
4,3-5 Yrs,Analyst-Finance Data Maintenance,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
6,3-5 Yrs,Analyst-Data Management,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
3,3-6 Yrs,Data Analyst,Myntra Designs Pvt. Ltd.,Not disclosed,Bangalore/Bengaluru
1,5-8 Yrs,Senior Analyst-Data Visualization,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
5,5-8 Yrs,Senior Analyst-Data Management,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
7,5-8 Yrs,Senior Analyst-Data Management,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
8,5-8 Yrs,Senior Analyst-Data Visualization,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru
9,5-8 Yrs,Senior Analyst-Finance Data Maintenance,Accenture Solutions Pvt Ltd,Not disclosed,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [5]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")
search_job = driver.find_element_by_xpath("//div[@class = 'inpWrap']/input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//div[@class = 'inpWrap']/input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")
search_btn = driver.find_element_by_xpath("//div[@class = 'search-btn']//button[@class = 'btn']")
search_btn.click()

In [6]:
job_title = []#title of job
company_name = []#name of company
exp = []#Exeperience Required as per job advert
salary = []#Salary offered by company
loc = []#Location as per advert
item = []# Dummy list to store hyperlink of each advert
skill = [] #Skill(s) required for the job opening
skills= []#Skill(s) required for the job opening
des = []# description of the job
date = [] #Date of post

time.sleep(5)

#sorting the required information and storing in the list.

for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    job_title.append(i.text)

for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'subTitle ellipsis fleft']")[:10]:
    company_name.append(i.text)
    
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    exp.append(i.text)
        
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi salary']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    salary.append(i.text)
    
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi location']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    loc.append(i.text)    
    
for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    item.append(i.get_attribute('href'))
    
for i in driver.find_elements_by_xpath("//div[@class = 'type br2 fleft grey']//span[@class = 'fleft fw500']")[:10]:
    date.append(i.text)       

driver.quit()

In [7]:
#collecting all job description by entering into every job advert.
for i in item:
    driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
    driver.get(i)
    time.sleep(3)
    
    DES = driver.find_elements_by_xpath("//section[@class = 'JD av_textblock_section']/div[@class = 'nConfig_textblock ']/div[@class = 'clearboth description']") \
    or driver.find_elements_by_xpath("//section[@class = 'job-desc']/div[@class = 'dang-inner-html']")
    
    for i in DES:
        des.append(i.text.replace("\n","")) 

    for i in driver.find_elements_by_xpath("//div[@class = 'key-skill']/div"):
        skill.append(i.text)
        skill = [' '.join(skill)]       
 
    driver.close()

for i in skill:
    skills.append(i.split("Key Skills"))
skills= skills[0]
skills.remove("")

In [8]:
#Storing our data into Data Frame.
DataScientist_jobs_Banglore = pd.DataFrame({"EXPERIENCE_REQ" : exp, 
                                            "JOB_TITLE" : job_title,
                                            "COMPANY_NAME" : company_name,
                                            "REQ_SKILLS" : skills,
                                            "SALARY_OFFERED" : salary, 
                                            "LOCATION" : loc,
                                            "JD" : des,
                                            "POST_DATE" : date
                                           })
                                           
DataScientist_jobs_Banglore.sort_values(by = ["EXPERIENCE_REQ"])

,EXPERIENCE_REQ,JOB_TITLE,COMPANY_NAME,REQ_SKILLS,SALARY_OFFERED,LOCATION,JD,POST_DATE
0,0-1 Yrs,Data Scientist,CronJ IT Technologies Private Limited,TensorflowJavaC++CphythonData StructuresArtif...,"3,50,000 - 5,00,000 PA.",Bangalore/Bengaluru,Responsibilities and DutiesCreate innovative s...,3 DAYS AGO
1,0-1 Yrs,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,NLPOpencvArtificial Intelligence Data Science...,"1,00,000 - 3,00,000 PA.",Bangalore/Bengaluru,Location - Bangalore / BengaluruDuration- 6 Mo...,10 DAYS AGO
3,2-5 Yrs,Data Scientist - Machine Learning,AugmatrixGo,HiveRCloud ComputingData ScientistComputer Vi...,Not disclosed,Bangalore/Bengaluru,Roles and Responsibilities- Selecting features...,3 DAYS AGO
7,2-7 Yrs,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,TensorflowObject DetectionAlgorithm Developme...,"7,00,000 - 15,00,000 PA.","Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and ResponsibilitiesMust have strong Pyt...,10 DAYS AGO
9,3-5 Yrs,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Direct MarketingMultivariate AnalysisR Data S...,Not disclosed,Bangalore/Bengaluru,The RoleGeneral Position DefinitionThis role w...,29 DAYS AGO
6,4-8 Yrs,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Predictive ModelingManufacturing AnalyticsPyt...,Not disclosed,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",About Ganit IncFounded by senior industry expe...,3 DAYS AGO
2,5-10 Yrs,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,RHiveHadoopData AnalyticsMachine LearningPyth...,Not disclosed,Bangalore/Bengaluru,Roles and Responsibilitiesob Description Summa...,12 DAYS AGO
8,5-10 Yrs,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,SQL DatabricksText AnalyticsArtificial Intell...,Not disclosed,Bangalore/Bengaluru,This is an ideal role for an experienced candi...,2 DAYS AGO
5,6-10 Yrs,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,Computer scienceadvanced analyticsSDSdata sci...,Not disclosed,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll DoWe re looking for a passionat...,5 DAYS AGO
4,6-11 Yrs,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,Data ScienceJavaREDAStatistical ModelingData ...,"14,00,000 - 22,50,000 PA.","Navi Mumbai, Bangalore/Bengaluru",Job descriptionJob Summary and Key Responsibil...,9 DAYS AGO

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [9]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")
search_job = driver.find_element_by_xpath("//div[@class = 'inpWrap']/input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Scientist")
search_btn = driver.find_element_by_xpath("//div[@class = 'search-btn']//button[@class = 'btn']")
search_btn.click()

time.sleep(3)
#Clicking the filter required.
Filter1 = driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
Filter1.click()
time.sleep(3)
#Clicking the filter required.
Filter2 = driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
Filter2.click()

job_title = []#title of job
company_name = []#title of Company
exp = []#Experience req
salary = []# Salary offered
date = []# Date of post
loc = []#Location of the job

time.sleep(3)

#sorting the required information and storing in the list.

for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    job_title.append(i.text)

for i in driver.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'subTitle ellipsis fleft']")[:10]:
    company_name.append(i.text)
    
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    exp.append(i.text)

for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi location']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    loc.append(i.text)        
        
for i in driver.find_elements_by_xpath("//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi salary']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    salary.append(i.text)

for i in driver.find_elements_by_xpath("//div[@class = 'type br2 fleft grey']//span[@class = 'fleft fw500']")[:10]:
    date.append(i.text)       
    
    
driver.quit()

#storing all the required information into DataFrame.

DataScientist_JOBDelhi= pd.DataFrame({ "EXEPERIENCE_REQ": exp, "JOB_TITLE" : job_title ,"COMPANY_NAME": company_name , 
                                           "LOCATION" : loc,
                                           "SALARY" : salary,
                                          "POST_DATE" : date})
                                           
DataScientist_JOBDelhi.sort_values(by = ["EXEPERIENCE_REQ"])

,EXEPERIENCE_REQ,JOB_TITLE,COMPANY_NAME,LOCATION,SALARY,POST_DATE
9,1-3 Yrs,Data Scientist Machine Learning,Delhivery,Gurgaon/Gurugram,Not disclosed,30+ DAYS AGO
2,3-5 Yrs,Data Scientist,Msg.ai,Gurgaon/Gurugram,Not disclosed,30+ DAYS AGO
1,3-8 Yrs,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon/Gurugram,Not disclosed,30+ DAYS AGO
5,3-8 Yrs,Data Scientist | Python | Machine Learning | D...,Careerera,Noida(Sector-59 Noida),"4,75,000 - 9,75,000 PA.",9 DAYS AGO
0,4-8 Yrs,Data Scientist,NatWest Group,Delhi / NCR,Not disclosed,3 DAYS AGO
3,4-8 Yrs,Data Scientist,NatWest Group,Gurgaon/Gurugram,Not disclosed,9 DAYS AGO
4,4-8 Yrs,Data Scientist,NatWest Group,Delhi / NCR,Not disclosed,9 DAYS AGO
6,5-10 Yrs,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",Not disclosed,10 DAYS AGO
7,6-11 Yrs,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,Not disclosed,10 DAYS AGO
8,6-11 Yrs,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,Not disclosed,10 DAYS AGO

Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

Note that all of the above steps have to be done by coding only and not manually.

In [18]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")
driver.maximize_window()

#closing the login Pop-up
time.sleep(3)
pop_up = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[@class = '_2KpZ6l _2doB4z']")
pop_up.click()

prod_ser = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sunglasses")

sub_button = driver.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [19]:
#sorting the required information and storing in the list.
Brand = []
Product_Description= []
Price = []
Discount =[]

while True:
    
    time.sleep(3)
        
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//div[@class = '_2WkVRV']"):
        Brand.append(i.text)
        if len(Brand) == 100:
            break
    
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//a"):
        Product_Description.append(i.get_attribute('title'))
        if len(Product_Description) == 200:
            break
    
    for i in driver.find_elements_by_xpath("//div[@class= '_25b18c']//div[@class = '_30jeq3']"):
        Price.append(i.text) 
        if len(Price) == 100:
            break    
    for i in driver.find_elements_by_xpath("//div[@class= '_3Ay6Sb']/span"):
        Discount.append(i.text)
        if len(Discount) == 100:
            break  
            
    if len(Discount) == 100:
        break
        
    for j in driver.find_elements_by_xpath("//nav[@class ='yFHi8N']/a[@class = '_1LKTO3']"):
        next=[j.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n) 
    
driver.close() 

Product = [] # Since Product_Description have many unwanted information am following this method to clense it.
for i in range(0,len(Product_Description)):
    if i == 0 or  i/2 == i//2:
        Product.append(Product_Description[i])

In [20]:
#Creating DataFrame.
Flipkart_Sunglass = pd.DataFrame({"Brand": Brand, 
                                  "Product_Description": Product, 
                                  "Price": Price , 
                                  "Discount": Discount})
Flipkart_Sunglass

,Brand,Product_Description,Price,Discount
0,Aislin,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹574,62% off
1,HAMIW COLLECTION,UV Protection Round Sunglasses (53),₹189,88% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹666,16% off
4,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored Sports Sunglasses (73)",₹367,70% off
96,Badfella,"Polarized, UV Protection Retro Square Sunglass...",₹269,73% off
97,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹759,15% off
98,PIRASO,UV Protection Aviator Sunglasses (54),₹197,87% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,77% off

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

Also note that all the steps required during scraping should be done through code only and not manually.

In [24]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")
driver.maximize_window()

#closing the login Pop-up
time.sleep(3)
pop_up = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[@class = '_2KpZ6l _2doB4z']")
pop_up.click()

prod_ser = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sneakers")

sub_button = driver.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [25]:
#sorting the required information and storing in the list.
Brand = []
Product_Description= []
Price = []
Discount =[]

while True:
    
    time.sleep(3)
        
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//div[@class = '_2WkVRV']"):
        Brand.append(i.text)
        if len(Brand) == 100:
            break
    
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//a"):
        Product_Description.append(i.get_attribute('title'))
        if len(Product_Description) == 200:
            break
    
    for i in driver.find_elements_by_xpath("//div[@class= '_25b18c']//div[@class = '_30jeq3']"):
        Price.append(i.text) 
        if len(Price) == 100:
            break    
    for i in driver.find_elements_by_xpath("//div[@class= '_3Ay6Sb']/span"):
        Discount.append(i.text)
        if len(Discount) == 100:
            break  
            
    if len(Discount) == 100:
        break
        
    for j in driver.find_elements_by_xpath("//nav[@class ='yFHi8N']/a[@class = '_1LKTO3']"):
        next=[j.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n) 
    
driver.close() 

Product = [] # Since Product_Description have many unwanted information am following this method to clense it.
for i in range(0,len(Product_Description)):
    if i == 0 or  i/2 == i//2:
        Product.append(Product_Description[i])

#Creating DataFrame.
Flipkart_sneakers = pd.DataFrame({"Brand": Brand, 
                                  "Product_Description": Product, 
                                  "Price": Price , 
                                  "Discount": Discount})
Flipkart_sneakers

,Brand,Product_Description,Price,Discount
0,French Connection,Sneakers For Men,₹799,60% off
1,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419,58% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,SWIGGY,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹799,67% off
96,ROCKFIELD,Sneakers For Men,₹499,50% off
97,SPARX,SM-162 Sneakers For Men,₹730,23% off
98,ROCKFIELD,Sneakers For Men,₹399,60% off
99,Bonexy,Sneakers For Men,₹499,50% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and  Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Note that applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [26]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.myntra.com/shoes")
driver.maximize_window()

time.sleep(3)
#selecting black color.
Filter2 = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
Filter2[0].click()

time.sleep(5)
#setting price filter
Filter1 = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
Filter1[1].click()

In [27]:
Brand,description,price = [], [], []
q = 0

while q<2:
    time.sleep(3)
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h3[@class = 'product-brand']"):
        Brand.append(i.text)
    
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h4[@class = 'product-product']"):
        description.append(i.text)
    
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//div[@class = 'product-price']"):
        price.append(i.text)
    
    nxt = driver.find_element_by_xpath("//a[@rel = 'next']")
    nxt.click()
    q +=1

driver.close()     
price= [i.split('Rs. ')[1] for i in price]   

myntra_blackshoes = pd.DataFrame({"Brand":Brand,"description":description,"price":price})
myntra_blackshoes

   Brand                     description  price
0   Nike      Men AIR ZOOM Running Shoes  11470
1   Nike       Men AIR MAX VOLLEY Tennis   6965
2   Puma  Men Fuse Training Sports Shoes   7999
3   Nike  Men AIR MAX INFINITY 2 Sneaker   7050
4   Nike      Men React Infinity Running  12396
..   ...                             ...    ...
95  Geox            Solid Leather Wedges   9490
96  Geox              Women Solid Wedges   8490
97  Geox       Women Leather Solid Pumps  11990
98  Geox          Women Slip-On Sneakers   8499
99  Geox       Women Leather Block Heels   9990

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [36]:
from bs4 import BeautifulSoup

In [43]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")
driver.maximize_window()

search_Box = driver.find_element_by_xpath("//div[@class = 'nav-search-field ']/input[@type='text']")
search_Box.send_keys("Laptop")
search_btn = driver.find_element_by_xpath("//input[@id= 'nav-search-submit-button']")
search_btn.click()

fltr_btn = driver.find_elements_by_xpath("//ul[@aria-labelledby= 'p_n_feature_thirteen_browse-bin-title']//div[@class= 'a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left']")
fltr_btn[-3].click()

In [44]:
def extract_record(item):
    """Extract and return the Data from a Single record"""
    
    #Description
    atag = item.h2.a
    description = atag.text.strip()
    
    try:
        #Price
        price_parent = item.find('span', 'a-price')
        price = price_parent.find('span', 'a-offscreen').text
    except AttributeError: #Attribute error handeling
        price = ''
    
    try:
        #Rating
        rating = item.i.text
    except AttributeError: #Attribute error handeling
        rating = ''
        
        
    result = (description, price, rating)
    
    return result

In [45]:
records = []
soup = BeautifulSoup(driver.page_source, 'html.parser')
results = soup.find_all('div',{'data-component-type' : 's-search-result'})

for item in results:
    record = extract_record(item)
    if record:
        records.append(record)
        
records = records[:10]

driver.close()

title =[]
Ratings =[]
Price =[]

for i in records:
    title.append(i[0])
    Ratings.append(i[2])
    Price.append(i[1])
    
intel_core_i7_amazon = pd.DataFrame({"Title":title,"Ratings":Ratings,"Price":Price})
intel_core_i7_amazon

,Title,Ratings,Price
0,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,,"₹35,990"
1,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,5.0 out of 5 stars,"₹83,990"
2,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.6 out of 5 stars,"₹76,500"
3,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,1.0 out of 5 stars,"₹38,990"
4,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.3 out of 5 stars,53962.00
5,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,2.7 out of 5 stars,"₹1,98,590"
6,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",4.3 out of 5 stars,"₹1,35,490"
7,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,3.5 out of 5 stars,"₹39,990"
8,HP Pavilion Gaming 11th Gen Intel Core i7 Proc...,,"₹83,128"
9,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...",4.3 out of 5 stars,

In [46]:
#entering the required details in search certeria.
driver = webdriver.Chrome(r"C:\Users\akans\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")
driver.maximize_window()

search_Box = driver.find_element_by_xpath("//div[@class = 'nav-search-field ']/input[@type='text']")
search_Box.send_keys("Laptop")
search_btn = driver.find_element_by_xpath("//input[@id= 'nav-search-submit-button']")
search_btn.click()

fltr_btn = driver.find_elements_by_xpath("//ul[@aria-labelledby= 'p_n_feature_thirteen_browse-bin-title']//div[@class= 'a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left']")
fltr_btn[-2].click()

def extract_record(item):
    """Extract and return the Data from a Single record"""
    
    #Description
    atag = item.h2.a
    description = atag.text.strip()
    
    try:
        #Price
        price_parent = item.find('span', 'a-price')
        price = price_parent.find('span', 'a-offscreen').text
    except AttributeError: #Attribute error handeling
        price = ''
    
    try:
        #Rating
        rating = item.i.text
    except AttributeError: #Attribute error handeling
        rating = ''
        
        
    result = (description, price, rating)
    
    return result


records = []
soup = BeautifulSoup(driver.page_source, 'html.parser')
results = soup.find_all('div',{'data-component-type' : 's-search-result'})

for item in results:
    record = extract_record(item)
    if record:
        records.append(record)
        
records = records[:10]

driver.close()

title =[]
Ratings =[]
Price =[]

for i in records:
    title.append(i[0])
    Ratings.append(i[2])
    Price.append(i[1])
    
intel_core_i9_amazon = pd.DataFrame({"Title":title,"Ratings":Ratings,"Price":Price})
intel_core_i9_amazon

,Title,Ratings,Price
0,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,3.9 out of 5 stars,"₹5,22,077"
1,Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...,2.3 out of 5 stars,"₹2,27,200"
2,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.3 out of 5 stars,"₹2,59,990"
3,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,4.4 out of 5 stars,"₹3,64,800"
4,Dell Alienware 17 Area 51 9thGeneration Corei9...,4.2 out of 5 stars,
5,(Renewed) Dell G7 15 Gaming 7588 Laptop Intel ...,,"₹1,14,490"
6,"ASUS ROG Strix Scar 15 (2020), 15.6"" FHD 300Hz...",1.0 out of 5 stars,"₹2,14,990"
7,Dell Alienware m15(R3) 15.6-inch UHD Gaming La...,2.7 out of 5 stars,"₹3,42,990"
8,ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,4.0 out of 5 stars,"₹2,69,990"
9,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,5.0 out of 5 stars,"₹2,06,990"